body{
    background-color:rgb(255, 203, 154);
}
h3{
    color:rgb(253, 93, 0);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(211, 125, 12);
}
h2{
    color:orangered;
}
h1{
    color:crimson;
}
ul{
    background-color:coral;
}
li{
    background-color:gold;
}